<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Last news</title>
</head>
<body>
<div th:switch="${news}">
    <h2 th:case="null">No news found!</h2>
    <div th:case="*">
        <h2>Last news</h2>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Published At</th>
                <th>Author</th>
                <th>Source</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="newsArticle : ${news}">
                <td th:text="${newsArticle.id}"></td>
                <td th:text="${newsArticle.title}"></td>
                <td th:text="${newsArticle.publishedAt}"></td>
                <td th:text="${newsArticle.description}"></td>
                <td th:text="${newsArticle.author}"></td>
                <td><a th:href="${newsArticle.url}"></a>Ссылка</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>